.TabelaProdutos table{
    width: 100%;
    border-color: white;
}

.TabelaProdutos th{
    background-color: rgb(6, 83, 197);
    color: white;
}

.TabelaProdutos .Par{
    background-color: #fff;
}

.TabelaProdutos .Impar{
    background-color: #ccc;
}